#header_container
  #title_container.inline
    %h1{:id => "title"} chem0_Parse
    =link_to("https://bitbucket.org/wwmm/oscar4/wiki/Home", :target => "_blank") do
      %h6
        = @chemoinformatics.count 
        indexes parsed by OSCAR-4


  = link_to(chemoinformatics_path, :id => "chemo_index_link") do
    #nav_button.button.inline browse    

#parse_container
  #parse_options
    .parse_option_container
      #parse_opt1.parse_box
        1
    .parse_option_container
      #parse_opt2.parse_box
        2
    .parse_option_container
      #parse_opt3.parse_box
        3
    .parse_option_container
      #parse_opt4.parse_box
        4
    .parse_option_container
      #parse_opt5.parse_box
        5
    .parse_option_container
      #parse_opt6.parse_box
        6

  = render 'form'

