
#header_container
  #title_container.inline
    %h1{:id => "title"} chem_parse
  
  = link_to(chemoinformatics_path, :id => "chemo_index_link") do
    #nav_button.button.inline browse    

#parse_container
  #parse_options
    .parse_box

    .parse_box

    .parse_box

    .parse_box

    .parse_box

    .parse_box

  = render 'form'

