#header_container
  #title_container.inline
    %h1{:id => "title"} chem0_Parse
    =link_to("https://bitbucket.org/wwmm/oscar4/wiki/Home", :target => "_blank") do
      %h6 Powered by OSCAR-4 chemoinformatics
  
  = link_to(chemoinformatics_path, :id => "chemo_index_link") do
    #nav_button.button.inline browse    

#parse_container
  #parse_options
    .parse_box

    .parse_box

    .parse_box

    .parse_box

    .parse_box

    .parse_box

  = render 'form'

